/*
CSS for project analysis
*/

body{
	font: 100%/125%;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	background-color: #ddbf87;
	padding: 1.5625%;
	max-width: 960px;
	margin: 0 auto;
	border: 10px inset #999;
	box-shadow: 10px 10px 10px #666;
}

p{

	font-size: 1.1875em;
	color: #304969;
	font-family: "Basic", sans-serif;
	padding: 1.041667%;
	letter-spacing: 0.05em;
}

h2{

	font-family: "Germania One", cursive;
	font-weight: normal;
}

#info{

	border: ridge 2px black;
	padding: 5px;
}